In [1]:
import pandas as pd 

new_data = pd.read_csv('buurten.csv', sep = ";")
print(new_data.shape)
new_data.head()

/var/folders/1q/nw56sv790t34hlk8f_j1dtxh0000gn/T/ipykernel_41605/3337810560.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,143,144) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv('buurten.csv', sep = ";")

(631873, 146)

,fid,geom,buurtcode,buurtnaam,wijkcode,gemeentecode,gemeentenaam,indelingswijziging_wijken_en_buurten,water,meest_voorkomende_postcode,...,bioscoop_gemiddeld_aantal_binnen_10_km,bioscoop_gemiddeld_aantal_binnen_20_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_gemiddeld_aantal_binnen_10_km,attractiepark_gemiddeld_aantal_binnen_20_km,attractiepark_gemiddeld_aantal_binnen_50_km,jrstatcode,jaar
0,1,GP,BU00349997,,WK003499,GM0034,Almere,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU00349997,2021.0
1,2,GP,BU00509997,,WK005099,GM0050,Zeewolde,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU00509997,2021.0
2,3,GP,BU00609998,,WK006099,GM0060,Ameland,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU00609998,2021.0
3,4,GP,BU00729998,,WK007299,GM0072,Harlingen,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU00729998,2021.0
4,5,GP,BU00889998,,WK008899,GM0088,Schiermonnikoog,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU00889998,2021.0

In [2]:
data_buurt = new_data[new_data['gemeentenaam'] == "Amsterdam"]
print(data_buurt.shape)
data_buurt.head()

(472, 146)

,fid,geom,buurtcode,buurtnaam,wijkcode,gemeentecode,gemeentenaam,indelingswijziging_wijken_en_buurten,water,meest_voorkomende_postcode,...,bioscoop_gemiddeld_aantal_binnen_10_km,bioscoop_gemiddeld_aantal_binnen_20_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_gemiddeld_aantal_binnen_10_km,attractiepark_gemiddeld_aantal_binnen_20_km,attractiepark_gemiddeld_aantal_binnen_50_km,jrstatcode,jaar
20,21,GP,BU03639997,,WK036399,GM0363,Amsterdam,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU03639997,2021.0
21,22,GP,BU03639998,,WK036399,GM0363,Amsterdam,-99999999,JA,,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021BU03639998,2021.0
86227,4122,GP,BU03630000,Kop Zeedijk,WK036300,GM0363,Amsterdam,1,NEE,1012.0,...,14.0,21.0,0.6,1.6,1.1,9.0,17.0,67.2,2021BU03630000,2021.0
86228,4123,GP,BU03630001,Oude Kerk e.o.,WK036300,GM0363,Amsterdam,1,NEE,1012.0,...,14.0,21.0,0.5,1.5,1.1,9.0,17.0,66.9,2021BU03630001,2021.0
86229,4124,GP,BU03630002,Burgwallen Oost,WK036300,GM0363,Amsterdam,1,NEE,1012.0,...,14.0,20.6,0.3,1.6,0.8,9.0,17.0,67.0,2021BU03630002,2021.0

In [3]:
data_buurt.columns.to_list()

['fid',
 'geom',
 'buurtcode',
 'buurtnaam',
 'wijkcode',
 'gemeentecode',
 'gemeentenaam',
 'indelingswijziging_wijken_en_buurten',
 'water',
 'meest_voorkomende_postcode',
 'dekkingspercentage',
 'omgevingsadressendichtheid',
 'stedelijkheid_adressen_per_km2',
 'bevolkingsdichtheid_inwoners_per_km2',
 'aantal_inwoners',
 'mannen',
 'vrouwen',
 'percentage_personen_0_tot_15_jaar',
 'percentage_personen_15_tot_25_jaar',
 'percentage_personen_25_tot_45_jaar',
 'percentage_personen_45_tot_65_jaar',
 'percentage_personen_65_jaar_en_ouder',
 'percentage_ongehuwd',
 'percentage_gehuwd',
 'percentage_gescheid',
 'percentage_verweduwd',
 'geboorte_totaal',
 'geboortes_per_1000_inwoners',
 'sterfte_totaal',
 'sterfte_relatief',
 'aantal_huishoudens',
 'percentage_eenpersoonshuishoudens',
 'percentage_huishoudens_zonder_kinderen',
 'percentage_huishoudens_met_kinderen',
 'gemiddelde_huishoudsgrootte',
 'percentage_westerse_migratieachtergrond',
 'percentage_niet_westerse_migratieachtergrond',
 'percentage_uit_marokko',
 'percentage_uit_nederlandse_antillen_en_aruba',
 'percentage_uit_suriname',
 'percentage_uit_turkije',
 'percentage_overige_nietwestersemigratieachtergrond',
 'aantal_bedrijven_landbouw_bosbouw_visserij',
 'aantal_bedrijven_nijverheid_energie',
 'aantal_bedrijven_handel_en_horeca',
 'aantal_bedrijven_vervoer_informatie_communicatie',
 'aantal_bedrijven_financieel_onroerend_goed',
 'aantal_bedrijven_zakelijke_dienstverlening',
 'aantal_bedrijven_overheid_onderwijs_en_zorg',
 'aantal_bedrijven_cultuur_recreatie_overige',
 'aantal_bedrijfsvestigingen',
 'woningvoorraad',
 'gemiddelde_woningwaarde',
 'percentage_eengezinswoning',
 'percentage_meergezinswoning',
 'percentage_bewoond',
 'percentage_koopwoningen',
 'percentage_huurwoningen',
 'perc_huurwoningen_in_bezit_woningcorporaties',
 'perc_huurwoningen_in_bezit_overige_verhuurders',
 'percentage_woningen_met_eigendom_onbekend',
 'percentage_bouwjaarklasse_tot_2000',
 'percentage_bouwjaarklasse_vanaf_2000',
 'percentage_leegstand_woningen',
 'personenautos_totaal',
 'personenautos_per_huishouden',
 'personenautos_per_km2',
 'motortweewielers_totaal',
 'aantal_personenautos_met_brandstof_benzine',
 'aantal_personenautos_met_overige_brandstof',
 'oppervlakte_totaal_in_ha',
 'oppervlakte_land_in_ha',
 'oppervlakte_water_in_ha',
 'huisartsenpraktijk_gemiddelde_afstand_in_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_1_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_3_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_5_km',
 'apotheek_gemiddelde_afstand_in_km',
 'grote_supermarkt_gemiddelde_afstand_in_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_1_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_3_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_5_km',
 'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_1_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_3_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_5_km',
 'warenhuis_gemiddelde_afstand_in_km',
 'warenhuis_gemiddeld_aantal_binnen_5_km',
 'warenhuis_gemiddeld_aantal_binnen_10_km',
 'warenhuis_gemiddeld_aantal_binnen_20_km',
 'cafe_gemiddelde_afstand_in_km',
 'cafe_gemiddeld_aantal_binnen_1_km',
 'cafe_gemiddeld_aantal_binnen_3_km',
 'cafe_gemiddeld_aantal_binnen_5_km',
 'cafetaria_gemiddelde_afstand_in_km',
 'cafetaria_gemiddeld_aantal_binnen_1_km',
 'cafetaria_gemiddeld_aantal_binnen_3_km',
 'cafetaria_gemiddeld_aantal_binnen_5_km',
 'restaurant_gemiddelde_afstand_in_km',
 'restaurant_gemiddeld_aantal_binnen_1_km',
 'restaurant_gemiddeld_aantal_binnen_3_km',
 'restaurant_gemiddeld_aantal_binnen_5_km',
 'hotel_gemiddelde_afstand_in_km',
 'hotel_gemiddeld_aantal_binnen_5_km',
 'hotel_gemiddeld_aantal_binnen_10_km',
 'hotel_gemiddeld_aantal_binnen_20_km',
 'kinderdagverblijf_gemiddelde_afstand_in_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_1_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_3_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_5_km',
 'buitenschoolse_opvang_gem_afstand_in_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_1_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_3_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_5_km',
 'basisonderwijs_gemiddelde_afstand_in_km',
 'basisonderwijs_gemiddeld_aantal_binnen_1_km',
 'basisonderwijs_gemiddeld_aantal_binnen_3_km',
 'basisonderwijs_gemiddeld_aantal_binnen_5_km',
 'voortgezet_onderwijs_gem_afstand_in_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_3_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_5_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_10_km',
 'vmbo_gemiddelde_afstand_in_km',
 'vmbo_gemiddeld_aantal_binnen_3_km',
 'vmbo_gemiddeld_aantal_binnen_5_km',
 'vmbo_gemiddeld_aantal_binnen_10_km',
 'havo_vwo_gemiddelde_afstand_in_km',
 'havo_vwo_gemiddeld_aantal_binnen_3_km',
 'havo_vwo_gemiddeld_aantal_binnen_5_km',
 'havo_vwo_gemiddeld_aantal_binnen_10_km',
 'brandweerkazerne_gemiddelde_afstand_in_km',
 'zwembad_gemiddelde_afstand_in_km',
 'kunstijsbaan_gemiddelde_afstand_in_km',
 'bibliotheek_gemiddelde_afstand_in_km',
 'bioscoop_gemiddelde_afstand_in_km',
 'bioscoop_gemiddeld_aantal_binnen_5_km',
 'bioscoop_gemiddeld_aantal_binnen_10_km',
 'bioscoop_gemiddeld_aantal_binnen_20_km',
 'sauna_gemiddelde_afstand_in_km',
 'zonnebank_gemiddelde_afstand_in_km',
 'attractiepark_gemiddelde_afstand_in_km',
 'attractiepark_gemiddeld_aantal_binnen_10_km',
 'attractiepark_gemiddeld_aantal_binnen_20_km',
 'attractiepark_gemiddeld_aantal_binnen_50_km',
 'jrstatcode',
 'jaar']

In [4]:
data = data_buurt.copy()
data.drop('fid', axis=1, inplace = True)
data.drop('geom', axis=1, inplace = True)
data.drop('gemeentecode', axis=1, inplace = True)
data.drop('gemeentenaam', axis=1, inplace = True)
data.drop('indelingswijziging_wijken_en_buurten', axis=1, inplace = True)
data.drop('water', axis=1, inplace = True)
data.drop('meest_voorkomende_postcode', axis=1, inplace = True)
data.drop('dekkingspercentage', axis=1, inplace = True)
data.drop('omgevingsadressendichtheid', axis=1, inplace = True)
data.drop('stedelijkheid_adressen_per_km2', axis=1, inplace = True)
data.drop('geboorte_totaal', axis=1, inplace = True)
data.drop('sterfte_totaal', axis=1, inplace = True)
data.drop('sterfte_relatief', axis=1, inplace = True)
data.drop('oppervlakte_totaal_in_ha', axis=1, inplace = True)
data.drop('oppervlakte_land_in_ha', axis=1, inplace = True)
data.drop('oppervlakte_water_in_ha', axis=1, inplace = True)
data.drop('jrstatcode', axis=1, inplace = True)
data.drop('jaar', axis=1, inplace = True)

In [5]:
data.replace(to_replace="X", value="0", inplace=True)
data.replace(to_replace="-", value="0", inplace=True)
data.replace(to_replace=-99999999, value=0, inplace=True)

for col_name in data.select_dtypes(include=[object]):
    data[col_name] = data[col_name].str.replace(',','.')
    
data.fillna(0, inplace=True)
cols=[i for i in data.columns if i not in ["wijkcode","buurtnaam","buurtcode"]]
for col in cols:
    data[col]=pd.to_numeric(data[col])

In [6]:
print(data.dtypes.to_list())

[dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

In [7]:
data = data[data['buurtnaam'] != ' ']

In [8]:
new_data = pd.read_csv('wijken.csv', sep = ";")
print(new_data.shape)
new_data.head()

(3417, 143)

,fid,geom,wijkcode,wijknaam,gemeentecode,gemeentenaam,indelingswijziging_wijken_en_buurten,water,omgevingsadressendichtheid,stedelijkheid_adressen_per_km2,...,bioscoop_gemiddeld_aantal_binnen_10_km,bioscoop_gemiddeld_aantal_binnen_20_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_gemiddeld_aantal_binnen_10_km,attractiepark_gemiddeld_aantal_binnen_20_km,attractiepark_gemiddeld_aantal_binnen_50_km,jrstatcode,jaar
0,1,GP,WK003499,,GM0034,Almere,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK003499,2021.0
1,2,GP,WK005099,,GM0050,Zeewolde,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK005099,2021.0
2,3,GP,WK006099,,GM0060,Ameland,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK006099,2021.0
3,4,GP,WK007299,,GM0072,Harlingen,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK007299,2021.0
4,5,GP,WK008899,,GM0088,Schiermonnikoog,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK008899,2021.0

In [9]:
data_wijk = new_data[new_data['gemeentenaam'] == "Amsterdam"]
data_wijk = data_wijk[data_wijk['wijknaam'] != ' ']
data_wijk = data_wijk[['wijkcode', 'wijknaam']]
print(data_wijk.shape)
data_wijk.head()

(99, 2)

     wijkcode                 wijknaam
905  WK036300    Burgwallen-Oude Zijde
906  WK036301  Burgwallen-Nieuwe Zijde
907  WK036302      Grachtengordel-West
908  WK036303      Grachtengordel-Zuid
909  WK036304       Nieuwmarkt/Lastage

In [10]:
print(data.shape)

(470, 128)

In [11]:
data = pd.merge(data, data_wijk, on="wijkcode")
print(data.shape)

(470, 129)

In [12]:
data.to_csv(r'amsterdam_buurten.csv', index = False)

In [13]:
import geopandas as gpd

# reading database
geo_data = gpd.GeoDataFrame(gpd.read_file("WijkBuurtkaart_2021_v2/wijkenbuurten_2021_v2.gpkg"))
geo_data.head()
#convert Rijksdriehoeksmeting (RD) GIS coordinates format to Lat/Long 
geo_data.set_crs(epsg='28992')
geo_data = geo_data.to_crs(epsg='4326')

# get the only data we need 
geo_data = geo_data[geo_data['gemeentenaam'] == "Amsterdam"]
geo_data = geo_data[['geometry', 'buurtcode']]

# write it down to the .csv file
geo_data.to_csv(r'geodata_amsterdam.csv', index = False)

In [14]:
geo_data.head()

                                               geometry   buurtcode
20    MULTIPOLYGON (((4.97300 52.37979, 4.97321 52.3...  BU03639997
21    MULTIPOLYGON (((4.97093 52.36452, 4.97087 52.3...  BU03639998
4121  MULTIPOLYGON (((4.90096 52.37724, 4.90195 52.3...  BU03630000
4122  MULTIPOLYGON (((4.89651 52.37575, 4.89707 52.3...  BU03630001
4123  MULTIPOLYGON (((4.89966 52.37468, 4.90002 52.3...  BU03630002