In [1]:
import pandas as pd 
data_participatiewet = pd.read_csv("Participatiewet_2018.csv", sep=';') 
data_participatiewet[['buurt_number', 'buurt_name']] = data_participatiewet['Buurten'].str.extract('(?P<buurt_number>[\d]+) (?P<buurt_name>[\s\S]+)', expand=True)
data_participatiewet = data_participatiewet.drop('Buurten', axis=1)
data_participatiewet = data_participatiewet.drop('buurt_name', axis=1)

print(data_participatiewet.shape)
print(data_participatiewet.columns)
data_participatiewet.head()

(151, 3)
Index(['aantal mensen met een uitkering Participatiewet (Pw)|2018',
       'percentage mensen met een uitkering krachtens de Participatiewet|2018',
       'buurt_number'],
      dtype='object')

,aantal mensen met een uitkering Participatiewet (Pw)|2018,percentage mensen met een uitkering krachtens de Participatiewet|2018,buurt_number
0,141,"3,5",0000
1,224,"3,7",0001
2,215,"6,0",0002
3,54,"3,6",0003
4,NaN,NaN,0004

In [2]:
data_dogs=pd.read_csv('honden_data.csv', sep = ";")
data_dogs = data_dogs.rename(columns={'buurtnr': 'buurt_number'})
data_dogs = data_dogs.rename(columns={'2018': 'dogs_amount'})
data_dogs['buurt_number'] = data_dogs['buurt_number'].astype(str).str.replace('14', '')
data_dogs = data_dogs.drop('2016', axis=1)

print(data_dogs.shape)
data_dogs.head()

(96, 2)

  buurt_number  dogs_amount
0         0000           37
1         0001           51
2         0002           48
3         0003           21
4         0005          108

In [3]:
data_population = pd.read_csv("Groningen_population_data_2018.csv", sep=';') 
data_population[['buurt_number', 'buurt_name']] = data_population['Buurten'].str.extract('(?P<buurt_number>[\d]+) (?P<buurt_name>[\s\S]+)', expand=True)
data_population = data_population.drop('Buurten', axis=1)

print(data_population.shape)
print(data_population.columns)
data_population.head()

(151, 21)
Index(['bevolking totaal|2018', 'mannen (aantal)|2018',
       'vrouwen (aantal)|2018', 'jeugd: 0 t/m 17 jarigen|2018',
       'jongeren: 18 t/m 26 jaar|2018', 'volwassenen: 27 t/m 64 jaar|2018',
       'senioren: 65 jaar en ouder|2018', 'woonruimten|2018',
       'zelfstandige woningen eigenaar-bewoner|2018',
       'zelfstandige woningen in corporatief bezit|2018',
       'gemiddeld huishoudensinkomen|2018',
       'percentage minimahuishoudens|2018',
       'aangiften diefstal af/uit woning|2018',
       'aangiften diefstal fiets|2018', 'aangiften diefstal auto|2018',
       'aangiften diefstal af/uit auto|2018',
       'aangiften diefstal af/uit bedrijf|2018',
       'aangiften van vernieling|2018', 'aangiften van mishandeling|2018',
       'buurt_number', 'buurt_name'],
      dtype='object')

,bevolking totaal|2018,mannen (aantal)|2018,vrouwen (aantal)|2018,jeugd: 0 t/m 17 jarigen|2018,jongeren: 18 t/m 26 jaar|2018,volwassenen: 27 t/m 64 jaar|2018,senioren: 65 jaar en ouder|2018,woonruimten|2018,zelfstandige woningen eigenaar-bewoner|2018,zelfstandige woningen in corporatief bezit|2018,...,percentage minimahuishoudens|2018,aangiften diefstal af/uit woning|2018,aangiften diefstal fiets|2018,aangiften diefstal auto|2018,aangiften diefstal af/uit auto|2018,aangiften diefstal af/uit bedrijf|2018,aangiften van vernieling|2018,aangiften van mishandeling|2018,buurt_number,buurt_name
0,4404.0,2365.0,2039.0,106.0,2469.0,1582.0,244.0,2089.0,585.0,409.0,...,"17,1",25.0,176.0,1.0,8.0,17.0,25.0,35.0,0000,Binnenstad-Noord
1,6626.0,3583.0,3043.0,203.0,3779.0,2211.0,429.0,3405.0,930.0,980.0,...,"21,3",42.0,306.0,3.0,30.0,28.0,96.0,196.0,0001,Binnenstad-Zuid
2,4017.0,2126.0,1891.0,140.0,2058.0,1516.0,301.0,2230.0,632.0,867.0,...,"20,4",17.0,56.0,1.0,3.0,2.0,16.0,8.0,0002,Binnenstad-Oost
3,1708.0,943.0,765.0,49.0,859.0,650.0,150.0,983.0,205.0,156.0,...,"17,9",9.0,13.0,0.0,4.0,2.0,8.0,5.0,0003,Binnenstad-West
4,11.0,6.0,5.0,0.0,0.0,8.0,3.0,0.0,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0004,Noorderplantsoen

Let's then merge data_participatiewet, data_dogs and data_population together to the main dataset based on buurt_number column

In [4]:
data = pd.merge(data_dogs, data_participatiewet, on="buurt_number")
data = pd.merge(data, data_population, on="buurt_number")

data.head()

,buurt_number,dogs_amount,aantal mensen met een uitkering Participatiewet (Pw)|2018,percentage mensen met een uitkering krachtens de Participatiewet|2018,bevolking totaal|2018,mannen (aantal)|2018,vrouwen (aantal)|2018,jeugd: 0 t/m 17 jarigen|2018,jongeren: 18 t/m 26 jaar|2018,volwassenen: 27 t/m 64 jaar|2018,...,gemiddeld huishoudensinkomen|2018,percentage minimahuishoudens|2018,aangiften diefstal af/uit woning|2018,aangiften diefstal fiets|2018,aangiften diefstal auto|2018,aangiften diefstal af/uit auto|2018,aangiften diefstal af/uit bedrijf|2018,aangiften van vernieling|2018,aangiften van mishandeling|2018,buurt_name
0,0000,37,141,"3,5",4404.0,2365.0,2039.0,106.0,2469.0,1582.0,...,"30,0","17,1",25.0,176.0,1.0,8.0,17.0,25.0,35.0,Binnenstad-Noord
1,0001,51,224,"3,7",6626.0,3583.0,3043.0,203.0,3779.0,2211.0,...,"30,7","21,3",42.0,306.0,3.0,30.0,28.0,96.0,196.0,Binnenstad-Zuid
2,0002,48,215,"6,0",4017.0,2126.0,1891.0,140.0,2058.0,1516.0,...,"27,8","20,4",17.0,56.0,1.0,3.0,2.0,16.0,8.0,Binnenstad-Oost
3,0003,21,54,"3,6",1708.0,943.0,765.0,49.0,859.0,650.0,...,"29,7","17,9",9.0,13.0,0.0,4.0,2.0,8.0,5.0,Binnenstad-West
4,0005,108,213,"4,5",5452.0,2769.0,2683.0,325.0,2657.0,1980.0,...,"32,1","20,3",20.0,68.0,2.0,9.0,16.0,24.0,13.0,Hortusbuurt-Ebbingekwartier

In [5]:
print(data.shape)
print(data.columns)

(92, 24)
Index(['buurt_number', 'dogs_amount',
       'aantal mensen met een uitkering Participatiewet (Pw)|2018',
       'percentage mensen met een uitkering krachtens de Participatiewet|2018',
       'bevolking totaal|2018', 'mannen (aantal)|2018',
       'vrouwen (aantal)|2018', 'jeugd: 0 t/m 17 jarigen|2018',
       'jongeren: 18 t/m 26 jaar|2018', 'volwassenen: 27 t/m 64 jaar|2018',
       'senioren: 65 jaar en ouder|2018', 'woonruimten|2018',
       'zelfstandige woningen eigenaar-bewoner|2018',
       'zelfstandige woningen in corporatief bezit|2018',
       'gemiddeld huishoudensinkomen|2018',
       'percentage minimahuishoudens|2018',
       'aangiften diefstal af/uit woning|2018',
       'aangiften diefstal fiets|2018', 'aangiften diefstal auto|2018',
       'aangiften diefstal af/uit auto|2018',
       'aangiften diefstal af/uit bedrijf|2018',
       'aangiften van vernieling|2018', 'aangiften van mishandeling|2018',
       'buurt_name'],
      dtype='object')

We can see that a lot of columns contains "|2018" in the name, but all the data in this dataset is from 2018 year, so we can remove this part od the name. And add '_' instead of space

In [6]:
data = data.rename(columns={'aantal mensen met een uitkering Participatiewet (Pw)|2018': 'aantal mensen met een uitkering Participatiewet'})

for name, _ in data.items():
    new_name = name.replace('|2018', '')
    new_name = new_name.replace('.', '')
    new_name = new_name.replace(',', '')
    new_name = new_name.replace(':', '')
    new_name = new_name.replace('% ', 'perc ')
    new_name = new_name.replace('(', '')
    new_name = new_name.replace(')', '')
    new_name = new_name.replace(' ', '_')
    new_name = new_name.replace('_t/m_', '_')
    new_name = new_name.replace('af/uit', 'af_uit')
    data = data.rename(columns={name: new_name})


print(data.columns)
data.head()

Index(['buurt_number', 'dogs_amount',
       'aantal_mensen_met_een_uitkering_Participatiewet',
       'percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet',
       'bevolking_totaal', 'mannen_aantal', 'vrouwen_aantal',
       'jeugd_0_17_jarigen', 'jongeren_18_26_jaar', 'volwassenen_27_64_jaar',
       'senioren_65_jaar_en_ouder', 'woonruimten',
       'zelfstandige_woningen_eigenaar-bewoner',
       'zelfstandige_woningen_in_corporatief_bezit',
       'gemiddeld_huishoudensinkomen', 'percentage_minimahuishoudens',
       'aangiften_diefstal_af_uit_woning', 'aangiften_diefstal_fiets',
       'aangiften_diefstal_auto', 'aangiften_diefstal_af_uit_auto',
       'aangiften_diefstal_af_uit_bedrijf', 'aangiften_van_vernieling',
       'aangiften_van_mishandeling', 'buurt_name'],
      dtype='object')

,buurt_number,dogs_amount,aantal_mensen_met_een_uitkering_Participatiewet,percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet,bevolking_totaal,mannen_aantal,vrouwen_aantal,jeugd_0_17_jarigen,jongeren_18_26_jaar,volwassenen_27_64_jaar,...,gemiddeld_huishoudensinkomen,percentage_minimahuishoudens,aangiften_diefstal_af_uit_woning,aangiften_diefstal_fiets,aangiften_diefstal_auto,aangiften_diefstal_af_uit_auto,aangiften_diefstal_af_uit_bedrijf,aangiften_van_vernieling,aangiften_van_mishandeling,buurt_name
0,0000,37,141,"3,5",4404.0,2365.0,2039.0,106.0,2469.0,1582.0,...,"30,0","17,1",25.0,176.0,1.0,8.0,17.0,25.0,35.0,Binnenstad-Noord
1,0001,51,224,"3,7",6626.0,3583.0,3043.0,203.0,3779.0,2211.0,...,"30,7","21,3",42.0,306.0,3.0,30.0,28.0,96.0,196.0,Binnenstad-Zuid
2,0002,48,215,"6,0",4017.0,2126.0,1891.0,140.0,2058.0,1516.0,...,"27,8","20,4",17.0,56.0,1.0,3.0,2.0,16.0,8.0,Binnenstad-Oost
3,0003,21,54,"3,6",1708.0,943.0,765.0,49.0,859.0,650.0,...,"29,7","17,9",9.0,13.0,0.0,4.0,2.0,8.0,5.0,Binnenstad-West
4,0005,108,213,"4,5",5452.0,2769.0,2683.0,325.0,2657.0,1980.0,...,"32,1","20,3",20.0,68.0,2.0,9.0,16.0,24.0,13.0,Hortusbuurt-Ebbingekwartier

In [7]:
print(data.dtypes)

buurt_number                                                         object
dogs_amount                                                           int64
aantal_mensen_met_een_uitkering_Participatiewet                      object
percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet     object
bevolking_totaal                                                    float64
mannen_aantal                                                       float64
vrouwen_aantal                                                      float64
jeugd_0_17_jarigen                                                  float64
jongeren_18_26_jaar                                                 float64
volwassenen_27_64_jaar                                              float64
senioren_65_jaar_en_ouder                                           float64
woonruimten                                                         float64
zelfstandige_woningen_eigenaar-bewoner                              float64
zelfstandige_woningen_in_corporatief_bezit                          float64
gemiddeld_huishoudensinkomen                                         object
percentage_minimahuishoudens                                         object
aangiften_diefstal_af_uit_woning                                    float64
aangiften_diefstal_fiets                                            float64
aangiften_diefstal_auto                                             float64
aangiften_diefstal_af_uit_auto                                      float64
aangiften_diefstal_af_uit_bedrijf                                   float64
aangiften_van_vernieling                                            float64
aangiften_van_mishandeling                                          float64
buurt_name                                                           object
dtype: object

We can see that there are a lot of columns which should be numiric one, but they has a type 'object', so it means something wrong with their values. Let's explore it and maybe clean of fill the missing values. 

We'll start with 'aantal_mensen_met_een_uitkering_Participatiewet' column

In [8]:
print(data['aantal_mensen_met_een_uitkering_Participatiewet'].value_counts())
print(data['gemiddeld_huishoudensinkomen'].value_counts())

X      29
14      2
54      2
487     1
434     1
21      1
252     1
155     1
96      1
136     1
12      1
302     1
426     1
18      1
291     1
445     1
38      1
122     1
313     1
654     1
10      1
279     1
217     1
27      1
65      1
48      1
257     1
141     1
224     1
47      1
215     1
213     1
17      1
229     1
35      1
185     1
64      1
50      1
60      1
16      1
142     1
106     1
92      1
181     1
516     1
913     1
153     1
256     1
273     1
380     1
97      1
11      1
Name: aantal_mensen_met_een_uitkering_Participatiewet, dtype: int64
-       4
30,0    3
30,7    2
39,6    2
39,1    2
31,0    2
36,8    2
49,8    2
27,8    2
37,4    1
61,6    1
63,7    1
78,6    1
32,4    1
60,0    1
63,8    1
25,2    1
28,8    1
29,2    1
28,4    1
49,9    1
27,2    1
52,6    1
34,3    1
29,9    1
49,6    1
64,6    1
48,3    1
33,8    1
44,7    1
41,8    1
30,3    1
68,9    1
29,3    1
35,9    1
29,7    1
32,1    1
43,4    1
30,9    1
31,5    1
27,6    1
30,1    1
38,1    1
38,4    1
34,7    1
37,1    1
28,1    1
25,3    1
25,6    1
33,0    1
26,0    1
24,9    1
30,6    1
57,7    1
43,9    1
51,8    1
42,8    1
81,7    1
50,5    1
Name: gemiddeld_huishoudensinkomen, dtype: int64

We can see that there are 'X' and '-' values which definately not a number! So let's replace this value with 0

In [9]:
data.replace(to_replace="X", value="0", inplace=True)
data.replace(to_replace="-", value="0", inplace=True)

for col_name in data.select_dtypes(include=[object]):
    data[col_name] = data[col_name].str.replace(',','.')
    
data.fillna(0, inplace=True)

#data.head()

In [10]:
print(data.isnull().sum())

buurt_number                                                        0
dogs_amount                                                         0
aantal_mensen_met_een_uitkering_Participatiewet                     0
percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet    0
bevolking_totaal                                                    0
mannen_aantal                                                       0
vrouwen_aantal                                                      0
jeugd_0_17_jarigen                                                  0
jongeren_18_26_jaar                                                 0
volwassenen_27_64_jaar                                              0
senioren_65_jaar_en_ouder                                           0
woonruimten                                                         0
zelfstandige_woningen_eigenaar-bewoner                              0
zelfstandige_woningen_in_corporatief_bezit                          0
gemiddeld_huishoudensinkomen                                        0
percentage_minimahuishoudens                                        0
aangiften_diefstal_af_uit_woning                                    0
aangiften_diefstal_fiets                                            0
aangiften_diefstal_auto                                             0
aangiften_diefstal_af_uit_auto                                      0
aangiften_diefstal_af_uit_bedrijf                                   0
aangiften_van_vernieling                                            0
aangiften_van_mishandeling                                          0
buurt_name                                                          0
dtype: int64

In [11]:
cols=[i for i in data.columns if i not in ["buurt_name","buurt_number"]]
for col in cols:
    print("column: " + col)
    data[col]=pd.to_numeric(data[col])

print(data.dtypes)

column: dogs_amount
column: aantal_mensen_met_een_uitkering_Participatiewet
column: percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet
column: bevolking_totaal
column: mannen_aantal
column: vrouwen_aantal
column: jeugd_0_17_jarigen
column: jongeren_18_26_jaar
column: volwassenen_27_64_jaar
column: senioren_65_jaar_en_ouder
column: woonruimten
column: zelfstandige_woningen_eigenaar-bewoner
column: zelfstandige_woningen_in_corporatief_bezit
column: gemiddeld_huishoudensinkomen
column: percentage_minimahuishoudens
column: aangiften_diefstal_af_uit_woning
column: aangiften_diefstal_fiets
column: aangiften_diefstal_auto
column: aangiften_diefstal_af_uit_auto
column: aangiften_diefstal_af_uit_bedrijf
column: aangiften_van_vernieling
column: aangiften_van_mishandeling
buurt_number                                                         object
dogs_amount                                                           int64
aantal_mensen_met_een_uitkering_Participatiewet                       int64
percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet    float64
bevolking_totaal                                                    float64
mannen_aantal                                                       float64
vrouwen_aantal                                                      float64
jeugd_0_17_jarigen                                                  float64
jongeren_18_26_jaar                                                 float64
volwassenen_27_64_jaar                                              float64
senioren_65_jaar_en_ouder                                           float64
woonruimten                                                         float64
zelfstandige_woningen_eigenaar-bewoner                              float64
zelfstandige_woningen_in_corporatief_bezit                          float64
gemiddeld_huishoudensinkomen                                        float64
percentage_minimahuishoudens                                        float64
aangiften_diefstal_af_uit_woning                                    float64
aangiften_diefstal_fiets                                            float64
aangiften_diefstal_auto                                             float64
aangiften_diefstal_af_uit_auto                                      float64
aangiften_diefstal_af_uit_bedrijf                                   float64
aangiften_van_vernieling                                            float64
aangiften_van_mishandeling                                          float64
buurt_name                                                           object
dtype: object

In [12]:
print(data.columns)
data.head()

Index(['buurt_number', 'dogs_amount',
       'aantal_mensen_met_een_uitkering_Participatiewet',
       'percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet',
       'bevolking_totaal', 'mannen_aantal', 'vrouwen_aantal',
       'jeugd_0_17_jarigen', 'jongeren_18_26_jaar', 'volwassenen_27_64_jaar',
       'senioren_65_jaar_en_ouder', 'woonruimten',
       'zelfstandige_woningen_eigenaar-bewoner',
       'zelfstandige_woningen_in_corporatief_bezit',
       'gemiddeld_huishoudensinkomen', 'percentage_minimahuishoudens',
       'aangiften_diefstal_af_uit_woning', 'aangiften_diefstal_fiets',
       'aangiften_diefstal_auto', 'aangiften_diefstal_af_uit_auto',
       'aangiften_diefstal_af_uit_bedrijf', 'aangiften_van_vernieling',
       'aangiften_van_mishandeling', 'buurt_name'],
      dtype='object')

,buurt_number,dogs_amount,aantal_mensen_met_een_uitkering_Participatiewet,percentage_mensen_met_een_uitkering_krachtens_de_Participatiewet,bevolking_totaal,mannen_aantal,vrouwen_aantal,jeugd_0_17_jarigen,jongeren_18_26_jaar,volwassenen_27_64_jaar,...,gemiddeld_huishoudensinkomen,percentage_minimahuishoudens,aangiften_diefstal_af_uit_woning,aangiften_diefstal_fiets,aangiften_diefstal_auto,aangiften_diefstal_af_uit_auto,aangiften_diefstal_af_uit_bedrijf,aangiften_van_vernieling,aangiften_van_mishandeling,buurt_name
0,0000,37,141,3.5,4404.0,2365.0,2039.0,106.0,2469.0,1582.0,...,30.0,17.1,25.0,176.0,1.0,8.0,17.0,25.0,35.0,Binnenstad-Noord
1,0001,51,224,3.7,6626.0,3583.0,3043.0,203.0,3779.0,2211.0,...,30.7,21.3,42.0,306.0,3.0,30.0,28.0,96.0,196.0,Binnenstad-Zuid
2,0002,48,215,6.0,4017.0,2126.0,1891.0,140.0,2058.0,1516.0,...,27.8,20.4,17.0,56.0,1.0,3.0,2.0,16.0,8.0,Binnenstad-Oost
3,0003,21,54,3.6,1708.0,943.0,765.0,49.0,859.0,650.0,...,29.7,17.9,9.0,13.0,0.0,4.0,2.0,8.0,5.0,Binnenstad-West
4,0005,108,213,4.5,5452.0,2769.0,2683.0,325.0,2657.0,1980.0,...,32.1,20.3,20.0,68.0,2.0,9.0,16.0,24.0,13.0,Hortusbuurt-Ebbingekwartier

In [13]:
data['politie_report_aantal'] = data['aangiften_diefstal_af_uit_woning'] + data['aangiften_diefstal_auto'] + data['aangiften_diefstal_af_uit_bedrijf'] + data['aangiften_diefstal_fiets'] + data['aangiften_diefstal_af_uit_auto'] + data['aangiften_van_mishandeling'] + data['aangiften_van_vernieling']

In [14]:
data.to_csv(r'population_clean_data.csv', index = False)